---
layout: default
---
{{content}}
<section class="schedule">
    <!-- gets a distinct list of dates from lectures and assignments -->
    {% assign everything = site.assignments | concat: site.lectures %}
    {% assign dates = everything | sort: 'due_date'| map: 'due_date' | uniq %}

    <p>
        Note: This schedule is subject to change (as needed). 
        In addition, unless otherwise indicated, homework and projects are 
        always due on Tuesday at 11:59PM.
    </p>
    <table>
        <thead>
            <tr>
                <th>Week</th>
                <th></th>
                <th>Lesson</th>
                {% comment %}
                    <th>Supplemental Readings</th>
                {% endcomment %}
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
        {% assign last_week = 0 %}
        {% for date in dates %}
            {% assign lecture = site.lectures | where: 'due_date', date | last %}
            <!-- Calculate the Week -->
            {% assign dateStart = site.term_start_date | date: '%s' %}
            {% assign lectureDate = date | date: '%s' %}
            {% assign diffSeconds = lectureDate | minus: dateStart %}
            {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 | plus: 1 %}
            {% assign week = diffDays | divided_by: 7 | plus: 1 %}
            <tr>
                <th>
                {% if week != last_week %}
                    Week {{week}}
                {% endif %}
                <span class="due-date">
                    {{ date | date: "%m/%d/%y" }}
                </span>
                </th>
                {% if lecture %}
                    <!-- If lecture -->
                    <td> 
                        {% if lecture.type != 'tutorial' %}
                            {{ date | date: "%a, %m/%d" }}
                        {% else %}
                            Tutorial
                        {% endif %} 
                    </td>
                    <td>
                        {% assign className = 'lec' %}
                        {% if lecture.type == 'tutorial' %}
                            {% assign className = 'lab' %}
                        {% endif %} 
                        {% if lecture.draft == 1 %}
                            <strong>
                                {{ lecture.title }}
                            </strong>
                        {% else %} 
                            <a class="{{ className }}" href="{{site.baseurl}}{{lecture.url}}">
                                {{ lecture.title }} <i class="fas fa-link"></i>
                            </a>

                        {% endif %} 
                        <br>
                        {% if lecture.description.first %}
                            <ul>
                                <li>
                                    {{ lecture.description | join: "</li><li>" }}
                                </li>
                            </ul>
                        {% else %}
                            {{ lecture.description }}
                        {% endif %}
                    </td>
                    {% comment %}
                    <td>
                        {% if lecture.readings %}
                        <ul>
                            {% for reading in lecture.readings %}
                                <li>
                                    {% if reading.video_url %}
                                        {{ reading.title }}<br>
                                        <a href="{{ reading.url }}" target="_blank">readings</a> &bull;
                                        <a href="{{ reading.video_url }}" target="_blank">videos</a> 
                                    {% else %}
                                        <a href="{{ reading.url }}" {% if reading.internal != 1 %}target="_blank"{% endif %}>{{ reading.title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    {% endcomment %}
                {% else %}
                    <!-- If no lecture -->
                    <td>{{ date | date: "%a, %m/%d" }}</td>
                    <td></td>
                    <td></td>
                {% endif %}
                <td>
                    {% assign assignments = site.assignments | where: 'due_date', date %}
                    {% for assignment in assignments %}
                        {% assign classname = "pj" %}
                        {% if assignment.type == "homework" %}
                            {% assign classname = "hw" %}
                        {% endif %} 
                        {% if assignment.type == "extra credit" %}
                            {% assign classname = "ec" %}
                        {% endif %} 
                        
                        {% if assignment.draft == 1 %}
                            <strong>{{ assignment.abbreviation }}:</strong>
                        {% else %} 
                            <a href="{{site.baseurl}}{{assignment.url}}" class="{{classname}}">
                                {{ assignment.abbreviation }}
                                <i class="fa fa-link"></i>
                            </a>
                        {% endif %} 
                        {{ assignment.title }}
                    {% endfor %}
                </td>
            </tr>
            {% assign last_week = week %}
        {% endfor %}
        </tbody>
    </table>

</section>
<!-- {% if site.deadline_reminder %}
<script>
    /* 
        Script for calculating # of days until assignment due.
        Note: Can't use Jekyll b/c it doesn't compile every time.
    */
    const trs = document.querySelectorAll('tr');
    for (tr of trs) {
        const dateElement = tr.querySelector('.due-date');
        if (dateElement) {
            const dateString = dateElement.innerHTML;
            const dueDate = new Date(dateString);
            const numDays = (dueDate - new Date()) / (1000 * 3600 * 24);
            if (numDays < 0) {
                tr.classList.add('passed');
            }
        }
    }
</script>
{% endif %} -->